[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
jupyter = "*"
ipython = "*"
numpy = "*"
scikit-surprise = "*"

[requires]
python_version = "3.5"
